/* STILE GENERALE TESTI */
h2 {
    text-align: center;
    font-weight: 600;
}

.star {
    text-align: center;
}

.star i {
    font-size: 30px;
}

.line {
    height: 4px;
    border-radius: 5px;
    margin: 30px 0;
}

/* STILE COLORE SFONDO SEZIONI */

.blue {
    background-color: #2c3e50;
}

.green {
    background-color: #1abc9c;
}

.light-blue {
    background-color: #3a546d;
}

/* STILE BARRA DI NAVIGAZIONE BT5 */
#nav-bar {
    padding: 10px;
}

.logo {
    font-weight: 800;
    font-size: 20px;
    margin-left: 15%;
}

.menu {
    margin-right: 15%;
}

.navbar-dark .navbar-toggler {
    border-color: #fff;
}

.fa-bars {
    color: #fff;
}

/* STILE HERO */
#hero .hero-logo {
    margin-top: 10vh;
    margin-bottom: 10px;
}

#hero h2 {
    color: #fff;
    font-size: 60px;
}

#hero .star i {
    color: #fff;
}

#hero .line {
    background-color: #fff;
}

#hero h4 {
    text-align: center;
    color: #fff;
    font-weight: 600;
    margin-bottom: 50px;
}

/* STILE PORTFOLIO */
#portfolio h2 {
    font-size: 40px;
    margin-top: 50px;
}

#portfolio .line {
    background-color: #000;
}

#portfolio img {
    max-width: 100%;
    margin-bottom: 20px;
    border-radius: 15px;
}

/* STILE INFORMAZIONI */
#about h2 {
    font-size: 40px;
    margin-top: 50px;
    color: #fff;
}

#about .star i {
    color: #fff;
}

#about .line {
    background-color: #fff;
}

#about p {
    color: #fff;
    font-weight: 600;
}

#about .download {
    width: fit-content;
    font-weight: 600;
    margin-bottom: 50px;
}







/* STILE MODIFICHE RESPONSIVE */
@media screen and (max-width: 768px) {

    .logo {
        margin-left: 0;
    }
}