/* STILE COLORE SFONDO SEZIONI */

.blue {
    background-color: #2c3e50;
}

.green {
    background-color: #1abc9c;
}

.light-blue {
    background-color: #3a546d;
}

/* STILE BARRA DI NAVIGAZIONE BT5 */
#nav-bar {
    padding: 10px;
}

.logo {
    font-weight: 800;
    font-size: 20px;
    margin-left: 15%;
}

.menu {
    margin-right: 15%;
}

.navbar-dark .navbar-toggler {
    border-color: #fff;
}

.fa-bars {
    color: #fff;
}

/* STILE HERO */
#hero .hero-logo {
    margin-top: 10vh;
    margin-bottom: 10px;
}

#hero h1 {
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 60px;
}

#hero .star {
    text-align: center;
}

#hero .star i {
    font-size: 30px;
    color: #fff;
}

#hero .line {
    height: 4px;
    background-color: #fff;
    border-radius: 5px;
    margin: 30px -20px;
}

#hero h4 {
    text-align: center;
    color: #fff;
    font-weight: 600;
    margin-bottom: 50px;
}








/* STILE MODIFICHE RESPONSIVE */
@media screen and (max-width: 768px) {

    .logo {
        margin-left: 0;
    }
}