/* STILE COLORE SFONDO SEZIONI */

.blue {
    background-color: #2c3e50;
}

.green {
    background-color: #1abc9c;
}

.light-blue {
    background-color: #3a546d;
} 

/* STILE GENERALE TESTI */
h2 {
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    margin-top: 50px;
}

.star {
    text-align: center;
}

.star i {
    font-size: 30px;
}

.line {
    height: 4px;
    border-radius: 5px;
    margin: 30px 0;
    background-color: #000;
}

/* STILE BARRA DI NAVIGAZIONE BT5 */
#nav-bar {
    padding: 10px;
}

.logo {
    font-weight: 800;
    font-size: 22px;
    margin-left: 15%;
}

.menu {
    margin-right: 15%;
}

#nav-bar .menu li a {
    font-weight: 600;
    font-size: 15px;
}

.navbar-dark .navbar-toggler {
    border-color: #fff;
}

.fa-bars {
    color: #fff;
}

/* STILE HERO */
#hero .hero-logo {
    margin-top: 10vh;
}

#hero h2 {
    color: #fff;
    font-size: 60px;
}

#hero .star i {
    color: #fff;
}

#hero .line {
    background-color: #fff;
}

#hero h4 {
    text-align: center;
    color: #fff;
    font-weight: 600;
    margin-bottom: 50px;
}

/* STILE PORTFOLIO */
#portfolio img {
    max-width: 100%;
    margin-bottom: 20px;
    border-radius: 15px;
}

/* STILE INFORMAZIONI */
#about h2 {
    color: #fff;
}

#about .star i {
    color: #fff;
}

#about .line {
    background-color: #fff;
}

#about p {
    color: #fff;
    font-weight: 600;
}

#about .download {
    width: fit-content;
    font-weight: 600;
    margin-bottom: 50px;
}

/* STILE CONTATTI */
#contact .send {
    background-color: #1abc9c;
    border: none;
    margin-bottom: 50px;
}

#contact .form-control {
    border: none;
    border-radius: 0;
    padding-left: 0;
    border-bottom: 1px solid #ced4da;
    font-weight: 600;
}

/* STILE FOOTER */
#footer {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 50px;
}

#footer h5 {
    font-weight: 600;
    margin-top: 50px;
}

#footer ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-left: 0;
}

#footer ul li {
    margin: 0 5px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    border: 1px solid #fff;
    border-radius: 50%;
}

#footer ul li a {
    color: #fff;
}

#footer span a {
    text-decoration: none;
    color: #1abc9c;
}

#copy {
    padding: 20px 0;
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
}

/* STILE MODIFICHE RESPONSIVE */
@media screen and (max-width: 768px) {

    .logo {
        margin-left: 0;
    }
}